.filter-form {
  display: flex;
  flex-direction: row;
}

/*checkbox*/

.filter-form__filter-item:checked ~ .filter-form__filter-item-indicator::after {
  content: "";
  background-image: url(/static/images/checked.svg);
  position: absolute;
  width: 15.43px;
  height: 14.5px;
  left: 6px;
  top: 5px;
}




.filter-form {
  border: none;

  &__filter-block{
    margin-top: 20px;
    border: none;
  }

  &__filter-list {
    margin-top: 0px;
  }

  &__filter-name {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;
  }

  &__filter-element-amount_mb {
    margin-bottom: 10px;
  }

  &__filter-item-indicator {
    padding-right: 37px;
    position: relative;
    top: -3px;
  }

  &__filter-item-indicator::before {
    content: "";
    width: 25px;
    height: 25px;
    border: 2.5px solid #070707;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    left: 0px;
    top: 0px;
    position: absolute;
  }

  &__filter-item {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;
    margin-bottom: 12px;
    font-weight: normal;
    cursor: pointer;

    &-text {
      font-family: "Gilroy";
      font-style: normal;
      font-size: 18px;
      line-height: 21px;
      color: #070707;
      margin-top: 5px;
    }



  }

  &__filter-indicator {
    padding-right: 29px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      border: 2.5px solid #070707;
      border-radius: 100%;
    }

  }


}



.filter-form__filter-item:checked ~ .filter-form__filter-indicator::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 25%;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #070707;

}

.form__button {
  color: #070707;;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  align-self: center;
  margin-top: 10px;
  border: 2.5px solid #070707;;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 8px 17px;
  background-color: #ffffff;
}

.filter-button {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}
.filter-button__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  color: #E5E5E5;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-bottom: -5px;
}
