<div class="card-blog">
  <img class="card-blog__img">
  <div class="card-blog__information-wrapper">
    <div class="card-blog__filter-tag"> 
      <div class="card-blog__filter-tag-colour"> </div>
      <div class="card-blog__filter-tag-colour"> </div>
    </div>
    <div class="card-blog__filter-data">
      <div class="card-blog__filter-data-date"> </div>
      <div class="card-blog__filter-data-views"> </div>
      <div class="card-blog__filter-data-comments"> </div>
    </div>
    <h2 class="card-blog__title"> </h2>
    <p class="card-blog__text"> </p>
    <a class="card-blog__link"> </a>

  </div>
</div>