<header class="header">
  <div class="container ">
    <div class="header__content">
      <a class="header__home-link" href="/index.html">Home</a>
      <nav class="header__nav-wrapper">
        <ul class="hidden-marker header__nav-items ">
          <li>
            <a class="header__nav-item" href="/pages/blog/index.html"> My blog </a>
          </li>
          <li>
            <button class="header__nav-item header__nav-item_js "> Sign in </button>
          </li>
          <li>
            <button class="header__nav-item header__nav-item-reg_js"> Register </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
