.page-title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 57px;
  max-width: 280px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #070707;
}
