<footer class="footer container">
  <div class="footer__content">
    <h2 class="footer__title"> Contacts </h2>

    <div class="footer__text"> Want to know more or just chat? You are welcome! </div>
    <button class="footer__button footer__button_js"> Send message </button>
    <ul class="footer__social-list hidden-marker">
      <li class="footer__social-item ">
        <a class="footer__social-item_link button" href=""> Instagram </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-item_link button" href=""> Vk </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-item_link button" href=""> Telegram</a>
      </li>
      <li class="footer__social-item footer__social-item_padding-left">
        <a class="footer__social-item_link button" href=""> Mail</a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-item_link button" href=""> GitHub</a>
      </li>
      <li class="footer__social-item footer__social-item_padding-right">
        <a class="footer__social-item_link button" href=""> Phone</a>
      </li>
    </ul>
    <div class="footer__design"> Design by DL Academy </div>
    <div class="footer__code-creator">Program code from Antonina</div>
  </div>
</footer>